<div style="display: flex;">
    <div>
        <img src="assets/dados_pessoais.png" class="img-pag">
    </div>
    <div>
        <p class="text-pag">dados-pessoais </p>
    </div>
   
    <div style="margin-left: auto;">
        <button (click)="Editar_dados_pessoais()">{{edit_dados}}</button>
    </div>

</div>
<form [formGroup]="form"  style="margin-top: 30px;margin-left: 55px;">
    <div>
        <div>
            <div>
                
                <div>
                    <label class="text1" for="nome">Nome</label>
                </div>
                <div>
                    <input type="text" id="nome" onkeydown="return /[a-z, ]/i.test(event.key)" style="width: 350px; border: transparent;" formControlName="nome" >
                </div>

            </div>
         
        </div>
        <div style="margin-top: 15px;">

            <div>
                <label class="text1" for="email">E-mail</label>
            </div>
            <div>
                <input type="text" id="email" style="width: 350px;border: transparent; " formControlName="email">
            </div>
         
        </div>
        <div style="margin-top: 15px;">
            <div>
                <label class="text1" for="Telefone">Telefone</label>
            </div>
            <div>
                <input type="text" id="Telefone" style="border: transparent;width: 120px;"   formControlName="telefone">
                <b class="text1"  style="margin-left: 10px;margin-top: 6px;">(Para alterar seu telefone, vá até a aba
                    "Validar Conta" no menu.)</b>
            </div>
        </div>
        <div style="margin-top: 15px;">
            <div>
                <label class="text1" for="cpf">CPF</label>
            </div>
            <div>
                <input type="text" id="cpf" style="border: transparent;"  formControlName="cpf" >
            </div>
        </div>
    </div>
</form>
<hr>
<div style="display: flex;">
    <div>
        <img src="assets/location.png" class="img-pag" style="height: 20px;">
    </div>
    <div>
        <p class="text-pag">ENDEREÇO</p>
    </div>
    <div style="margin-left: auto;">
        <button (click)="Editar_endereco()">{{edit_endereco}}</button>
    </div>

</div>
<div style="margin-top: 30px;margin-left: 55px;">

</div>
<form [formGroup]="form_end" style="margin-top: 30px;margin-left: 55px;">
    <div style="margin-top: 30px;">
        <div>
            <label class="text1" for="cpf">CEP</label>
        </div>
        <div>
            <input type="text" id="cpf" style="border: transparent;" formControlName="cep"  >
        </div>
    
    </div>
    <div style="margin-top: 15px;">
        <div>
            <label class="text1" for="cpf">Endereço</label>
        </div>
        <div>
            <input type="text" id="cpf" style="border: transparent;"  formControlName="endereco"  >
        </div>
      
    </div>
    <div style="display: flex; margin-top: 15px;">
        <div>
            <div>
                <label class="text1" for="cpf">Número</label>
            </div>
            <div>
                <input type="text" id="cpf" style="border: transparent;" formControlName="numero" >
            </div>
         
        </div>
        <div style="margin-left: 140px;">
            <div>
                <label class="text1" for="cpf">Complemento</label>
            </div>
            <div>
                <input type="text" id="cpf" style="border: transparent;" formControlName="complemento"  >
            </div>
          
        </div>
    </div>
    <div style="margin-top: 15px;">
        <div>
            <label class="text1" for="cpf">Bairro</label>
        </div>
        <div>
            <input type="text" id="cpf" style="border: transparent;" formControlName="bairro"  >
        </div>
       
    </div>
    <div style="display: flex; margin-top: 15px;">
        <div>
            <div>
                <label class="text1" for="cpf">UF</label>
            </div>
            <div>
                <input type="text" id="cpf" style="border: transparent;" formControlName="estado"  >
            </div>
           
        </div>
        <div style="margin-left: 140px;">
            <div>
                <label class="text1" for="cpf">Municipio</label>
            </div>
            <div>
                <input type="text" id="cpf" style="border: transparent;" formControlName="cidade"  >
            </div>
           
        </div>
    </div>
    <div style="margin-top: 15px;">
        <div>
            <label class="text1" for="cpf">Renda mensal</label>
        </div>
        <div>
          <b class="text1">R$</b>  <input type="text" id="cpf" style="border: transparent;" formControlName="renda" >
        </div>
       
    </div>

    <p class="text1">É PEP?</p>
    <div class="form-check">
        <input type="radio" name="radios" class="form-check-input" id="exampleRadio1">
        <label class="form-check-label" for="exampleRadio1">Declaro que NÃO sou uma pessoa políticamente exposta (PEP).
        </label>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" name="radios" class="form-check-input" id="exampleRadio2">
        <label class="form-check-label" for="exampleRadio2">Sou PEP. (Será necessário identificar o enquadramento após a
            solicitação)</label>
    </div>
    <p class="text1">Termos de uso e a política de privacidade</p>
    <div style="display: flex;">
        <p>Termos de uso</p>
        <div style="margin-left: 56px;">
            <img src="assets/Layer 2.png" style="background: #E6F3F3;" class="img-pag">
        </div>

    </div>
    <div style="display: flex;">
        <p>Política de privacidade</p>
        <div>
            <img src="assets/Layer 2.png" style="background: #E6F3F3;" class="img-pag">
        </div>

    </div>

</form>
<!-- <hr>
<div style="display: flex;">
    <div>
        <img src="assets/icon-minha-conta.png" class="img-pag">
    </div>
    <p class="text-pag">OUTROS DADOS COMPLEMENTARES</p>
</div>
<div style="margin-top: 30px;margin-left: 55px;">
    <div style="display: flex;">
        <div>
            <p class="text1">Data de Nascimento</p>
            <p>00/00/0000</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Sexo</p>
            <p>-</p>
        </div>
    </div>
    <div>
        <p class="text1">Nacionalidade</p>
        <p>-</p>
    </div>
    <div style="display: flex;">
        <div>
            <p class="text1">UF</p>
            <p>-</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Cidade</p>
            <p>-</p>
        </div>
    </div>
    <div>
        <p class="text1">Nome completo da mãe</p>
        <p>-</p>
    </div>
    <div>
        <p class="text1">Estado civil</p>
        <p>-</p>
    </div>
    <form style="width: 270px;">
        <label for="nome" class="form-label"> Nome do solicitante *</label>
        <input type="text" class="form-control" id="nome">
        <div style="height: 30px"></div>
        <label for="Email" class="form-label"> Email do solicitante *</label>
        <input type="email" class="form-control" id="Email">
    </form>
    <div style="height: 20px"></div>
    <p class="text1">Você trabalha atualmente?</p>
    <div style="display: flex;">
        <div>
            <input type="checkbox" style="width: 24px;height: 24px;border: 1px solid var(--unnamed-color-9cb2b5);background: #F3FAFA 0% 0% no-repeat padding-box;
border: 1px solid #9CB2B5;
border-radius: 4px;
opacity: 1;">
            <label for="sim" style="margin-left: 20px;">
                Sim
            </label>
        </div>
        <div style="margin-left: 70px;">
            <input type="checkbox" style="width: 24px;height: 24px;border: 1px solid var(--unnamed-color-9cb2b5);background: #F3FAFA 0% 0% no-repeat padding-box;
border: 1px solid #9CB2B5;
border-radius: 4px;
opacity: 1;">
            <label style="margin-left: 20px;">
                Não
            </label>



        </div> -->