<div style="display: flex;">
    <div>
        <img src="assets/icon-minha-conta.png" class="img-pag">
    </div>
    <p class="text-pag">dados-pessoais </p>
</div>
<div style="margin-top: 30px;margin-left: 55px;">
<div >
    <div style="display: flex;">
        <div>
            <p class="text1">Nome</p>
            <p>{{dados_pessoais.nome}}</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Sobrenome</p>
            <p>Petti</p>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <p class="text1">E-mail</p>
        <p>{{dados_pessoais.email}}</p>
    </div>
    <div style="margin-top: 20px;">
        <p class="text1">Telefone</p>
        <div style="display: flex;">
            <p>{{dados_pessoais.telefone}}</p>
            <p class="text1" style="margin-left: 10px;margin-top: 6px;">(Para alterar seu telefone, vá até a aba "Validar Conta" no menu.)</p>
        </div>
       
    </div>
    <div style="margin-top: 20px;">
        <p class="text1">CPF</p>
        <p>{{dados_pessoais.cpf}}</p>
    </div>
    


</div>

</div>
<hr>
<div style="display: flex;">
    <div>
        <img src="assets/icon-minha-conta.png" class="img-pag">
    </div>
    <p class="text-pag">ENDEREÇO</p>
</div>
<div style="margin-top: 30px;margin-left: 55px;">
    
</div>
<div style="margin-top: 30px;margin-left: 55px;">
    <div style="margin-top: 30px;">
        <p class="text1">CEP</p>
        <p>{{endereco.cep}}</p>
    </div>
    <div style="margin-top: 30px;">
        <p class="text1">Endereço</p>
        <p>{{endereco.endereco}}</p>
    </div>
    <div style="display: flex;">
        <div>
            <p class="text1">Número</p>
            <p>{{endereco.numero}}</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Complemento</p>
            <p>{{endereco.complemento}}</p>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <p class="text1">Bairro</p>
        <p>{{endereco.bairro}}</p>
    </div>
    <div style="display: flex;">
        <div>
            <p class="text1">UF</p>
            <p>{{endereco.estado}}</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Municipio</p>
            <p>{{endereco.cidade}}</p>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <p class="text1">Renda mensal</p>
        <p>R$ {{endereco.renda}}</p>
    </div>

    <p class="text1">É PEP?</p>
    <div class="form-check">
      <input type="radio" name="radios" class="form-check-input" id="exampleRadio1">
      <label class="form-check-label" for="exampleRadio1">Declaro que NÃO sou uma pessoa políticamente exposta (PEP). </label>
    </div>
    <div class="mb-3 form-check">
      <input type="radio" name="radios" class="form-check-input" id="exampleRadio2">
      <label class="form-check-label" for="exampleRadio2">Sou PEP. (Será necessário identificar o enquadramento após a solicitação)</label>
    </div>
    <p class="text1">Termos de uso e a política de privacidade</p>
    <div style="display: flex;">
        <p >Termos de uso</p>
        <div style="margin-left: 56px;">
            <img src="assets/icon-minha-conta.png" class="img-pag">
        </div>
      
    </div>
    <div style="display: flex;">
        <p >Política de privacidade</p>
        <div>
            <img src="assets/icon-minha-conta.png" class="img-pag">
        </div>
       
    </div>

</div>
<hr>
<div style="display: flex;">
    <div>
        <img src="assets/icon-minha-conta.png" class="img-pag">
    </div>
    <p class="text-pag">OUTROS DADOS COMPLEMENTARES</p>
</div>
<div style="margin-top: 30px;margin-left: 55px;">
    <div style="display: flex;">
        <div>
            <p class="text1">Data de Nascimento</p>
            <p>00/00/0000</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Sexo</p>
            <p>-</p>
        </div>
    </div>
    <div>
        <p class="text1">Nacionalidade</p>
        <p>-</p>
    </div>
    <div style="display: flex;">
        <div>
            <p class="text1">UF</p>
            <p>-</p>
        </div>
        <div style="margin-left: 140px;">
            <p class="text1">Cidade</p>
            <p>-</p>
        </div>
    </div>
    <div >
        <p class="text1">Nome completo da mãe</p>
        <p>-</p>
    </div>
    <div >
        <p class="text1">Estado civil</p>
        <p>-</p>
    </div>
    <form style="width: 270px;" >
        <label for="nome" class="form-label"> Nome do solicitante *</label>
        <input type="text" class="form-control" id="nome" >
        <div style="height: 30px"></div>
        <label  for="Email" class="form-label"> Email do solicitante *</label>
        <input type="email" class="form-control" id="Email" >
    </form>
    <div style="height: 20px"></div>
    <p class="text1">Você trabalha atualmente?</p>
    <div style="display: flex;">
        <div>
          <input  type="checkbox" style="width: 24px;height: 24px;border: 1px solid var(--unnamed-color-9cb2b5);background: #F3FAFA 0% 0% no-repeat padding-box;
border: 1px solid #9CB2B5;
border-radius: 4px;
opacity: 1;"  >
        <label for="sim" style="margin-left: 20px;">
         Sim
        </label>
    </div>
    <div style="margin-left: 70px;">
        <input  type="checkbox" style="width: 24px;height: 24px;border: 1px solid var(--unnamed-color-9cb2b5);background: #F3FAFA 0% 0% no-repeat padding-box;
border: 1px solid #9CB2B5;
border-radius: 4px;
opacity: 1;"  >
        <label style="margin-left: 20px;">
            Não
        </label>
      
    
   
</div>

