<p class="text-pag">SENHA DE ACESSO</p>
<div style="width: 420px;margin-left:auto; margin-right:auto">
    <p class="text1">Para alterar sua senha, informe a senha anterior e configure a nova.</p>
    <p class="text2">Uma boa senha deve ter pelo menos 8 caracteres (letras, números e, se possível, caracteres especiais).</p>
</div>


<form style="width: 308px; margin-left:auto; margin-right:auto">
   
    <label for="atual" class=" text-field">Digite sua senha atual</label>
    <input type="password" class="form-control" id="atual" >
    <label for="nova" class="text-field">Digite sua nova senha</label>
    <input type="password" class="form-control" id="nova" >
    <label for="confirme" class="text-field">Confirme sua nova senha</label>
    <input type="password" class="form-control" id="confirme" >
    <button class="boton-alterar">Alterar Senha </button>
</form>
