<div class="">
    <div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;">
                <img src="assets/icon-minha-conta.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                    DADOS PESSOAIS</strong>
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;">
                <img src="assets/icon-minha-conta.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                    VALIDAR TELEFONE (TOKEN)</strong>
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;">
                <img src="assets/icon-minha-conta.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                    SENHAS</strong>
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>

        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;">
                <img src="assets/icon-minha-conta.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                    BENEFICIÁRIOS</strong>
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>

    </div>
</div>