<div class="container" style=" margin-left: 50px;">
    <div style="display: flex; margin-top: 80px;">
        <img src="assets/icon-transaccion.png">
        <label style="margin-left: 10px; color: #003940; font: normal normal bold 14px/22px Montserrat;">SUAS
            TRANSAÇÕES</label>

    </div>
 <p style="margin-top: 30px; font: normal normal normal 13px/16px Montserrat; letter-spacing: 0px; color: #798F92;"> 
    Cancelamento</p>
   
    <p style="margin-top: 16px; text-align: left; font: normal normal normal 13px/18px Montserrat; letter-spacing: 0px; color: #798F92;">
        Precisa cancelar? Nunca cancele sua transação diretamente com seu cartão de crédito, pois este processo deve ser
        realizado pela Livre.digital. Cancele seu pagamento clicando sobre a transação e depois em "CANCELAR". Caso seu
        pagamento já tenha sido realizado, fale com nosso atendimento.
    </p>
</div>