<div class="">
    <div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;" (click)="funcion1(9)">
                <div>
                    <img src="assets/dados_pessoais1.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                        DADOS PESSOAIS</strong>
                </div>
               
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;"(click)="funcion1(8)">
                <div>
                    <img src="assets/valida_telf.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                        VALIDAR TELEFONE (TOKEN)</strong>
                </div>
               
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>
        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;"(click)="funcion1(7)">
                <div>
                    <img src="assets/password.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                        SENHAS</strong>
                </div>
               
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>

        <div style=" border: solid 2px; border-color:#F9FCFC ; cursor: pointer; height: 60px;">
            <div style="display: flex ; margin-top: 10px;"(click)="funcion1(4)">
                <img src="assets/beneficiario.png" style="margin-left: 12px;"> <strong style="margin-left: 20px;">
                    BENEFICIÁRIOS</strong>
                <div style="margin-left: auto; margin-right: 10px;"> <img src="assets/Caminho-left.png"></div>
            </div>

        </div>

    </div>
</div>