<div style="display: flex;">
    <div style="margin-left: 55px;margin-right:10px">
        <img src="assets/valida_telf.png">
    </div>
    <div>
        <p class="text-pag">VALIDAR CONTA (TOKEN)</p>
    </div>

</div>

<div style="width: 380px;margin-left:auto; margin-right:auto">
    <div *ngIf="alterar">
        <div class="text-span">
            <p class="text-center">Valide seu telefone mediante o código que receberá no celular:</p>
        </div>
      
        <div style="width: 305px; margin-left: auto;margin-right: auto;">
            <p class="text-imp text-center">Número do celular:</p>
            <p class="" style="background: #F9FCFC ; width:fit-content; margin-left: auto;margin-right: auto;">{{numero}}
            </p>
            <div style="display: flex; width: 100px;margin-left: auto;margin-right: auto;">
                <div>
                    <img src="assets/ok.png" >
                    
                </div>
                <div>
                    <p class="text3">VALIDADO</p>
                </div>
            </div>
            
            <div>
                <button class="boton-alterar" (click)="alterar_num()">Alterar meu número</button>
            </div>
        </div>       
    </div>
    <div *ngIf="!alterar">
        <div class="text-span">
            <p class="text-center"> Valide seu telefone usando o código que receberá no celular:</p>
        </div>
        <div style="width: 305px; margin-left: auto;margin-right: auto;">
            <div style=" margin-top: 25px;">
                <label for="num-cel" class="my-label"> Número do celular:</label>
                <input type="text" class="campo" mask="000000000000000" id="num-cel"[(ngModel)]="numero_nuevo" >
            </div>
            <div style=" width: 233px;; margin-left: auto;margin-right: auto; margin-top: 25px;">
                <button class="boton-enviar-token"(click)="solicitar_token()">Enviar código Token</button>
            </div>
            <div *ngIf="solicitud_aprobada" style="display: flex;margin-top: 35px; width: max-content;margin-left: auto;margin-right: auto;">
                <div>
                    <img src="assets/sms.png" class="img-pag">
                </div>
                <div>
                    <p style="margin-left: 10px;">Código enviado com sucesso. Aguarde até recebê-lo.</p>
                </div>
            </div> 
            <div style=" margin-top: 25px;">
                <label for="num-cod" class="my-label"> Insira o código para validar:</label>
                <input type="text" class="campo" mask="000000" id="num-cod" [(ngModel)]="sms">
            </div>
            <div *ngIf="acceso" style="background: rgb(243, 189, 171); color: rgb(134, 16, 16); margin-top: 10px;">
                {{text_error}}
             </div>
             <div *ngIf="telf_val" style="display: flex; width: 200px;margin-left: auto;margin-right: auto; margin-top: 20px;">
                <div>
                    <img src="assets/ok.png" >
                    
                </div>
                <div>
                    <p class="text3">TELEFONE VALIDADO</p>
                </div>
            </div>
            <div>
                <button class="boton-alterar" (click)="salvar()">Salvar</button>
            </div>
           
        </div>

    </div>

     <div style="display: flex;margin-top: 50px;">
        <div>
            <img src="assets/info.png" >
        </div>
        <div>
            <b class="text-imp" style="margin-left: 3px;">Importante:</b>
        </div>

     </div>
    
    <p class="text-imp">Você receberá o código Token através do seu serviço de SMS. Certifique-se de que seu celular possui
        área de cobertura e está disponível para recebimento de mensagens.</p>
</div>