<div style="background: #ECF3F3;">
    <div class="row">
        <div class="card-sms container col-lg-9">
            <p class="text-yellow">Solicitado apenas nesta vez.</p>
            <div style="margin-top: 45px;margin-left:175px;margin-right: auto;"><img src="assets/valida-sms.png"></div>
            <p class="text-pag text-center ">Valide sua conta via SMS</p>
            <p class="text-center" style="margin-left: 73px;margin-right: 73px">Um código foi enviado por SMS para o seu celular:</p>
            <p class="text-center">(21) 21 950502255</p>
            <div>
                <label for="nome" class="form-label"> Insira o código para validar:</label>
                <input type="text" class="form-control" id="nome" >
            </div>
            <div style="display: flex;">
                <div>
                    <img src="assets/sms.png" class="img-pag">
                </div>
                <p >Código enviado com sucesso. Aguarde até recebê-lo.</p>
            </div>
            <div style="display: flex;">
                <div>
                    <img src="assets/sms-error.png" class="img-pag">
                </div>
                <p >Erro. Parece que algo deu errado, tente novamente.</p>
            </div>
            <div style="display: flex;">
                <div>
                    <img src="assets/sms-error.png" class="img-pag">
                </div>
                <p >Aguarde um minutinho, o SMS pode demorar um pouco devido a área de cobertura.</p>
            </div>
            <button class="boton-solicitar">Próximo <img src="assets/Caminho-left.png"></button>
            <div style="width: 302px;
            height: 64px;
            
            /* UI Properties */
            
            background: #ECF3F3 0% 0% no-repeat padding-box;
            border-radius: 32px;
            opacity: 1;">
            <p class="text-center">Reenviar código Token</p>

                    
            </div>
            <button style="width: 425px;
            height: 64px;
            transform: matrix(-1, 0, 0, -1, 0, 0);
            
            
            
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;">
    voltar
            </button>
        </div>
        <div class="col-lg-2">
            dddd
        </div>
    </div>

</div>