.card-sms{
    width: 425px;
height: 877px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
margin-left: auto;
/* margin-right: auto; */
}
.text-yellow{
    text-align: left;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
    color: #003940;
    opacity: 1; background:yellow;
    width: fit-content;
    margin-top: 45px;
}
.text-pag{
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #003940;
    opacity: 1;
/* margin-left: 55px; */
margin-top: 13px;
}
.boton-solicitar{
    width: 309px;
height: 64px;
background: var(--unnamed-color-3dff91) 0% 0% no-repeat padding-box;
background: #3DFF91 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-left: 15px;
margin-bottom: 20px;
}