<form [formGroup]="formPass" class="card card-login shadow">
    <h3 style="margin-top: 10%;" class="text-center">Login</h3>
    
    <div class="form-group" style="margin-top: 5%;">
        <label class="form-label " for="user-fild">Username</label>
        <div>
            <input class="form-control " type="text"  name="user-fild" formControlName="cpf">
        </div>
        
   
    </div>
    <div class="form-group" style="margin-top: 2%;">
        <label class="form-label " for="pass-fild">Password</label>
        <div>
            <input class="form-control " type="password" name="pass-fild" formControlName="senha">
        </div>
     
       
    </div>
    <div *ngIf="sesion_fail" class="wrong-login "  role="">
  
       <p class="text-center">Login failed</p> 
    </div>
    
   
    <button class="btn btn-primary form-control" style="margin-top: 5%;" (click)="login()" >Login</button>
    <button class="btn btn-warning form-control" style="margin-top: 3%;" (click)="newLogin()">Resgister</button>
    <!-- <a href="" class="form-label" (click)="f()">Register</a> -->
    
</form>