
<div class="texto-info">
   <p>Fale com a Livre.digital através da caixa de contato abaixo:</p> 
</div>

<p class="text-center" style="margin-top: 45px; margin-left: 150px;margin-right: 150px; font: normal normal normal 15px/22px Montserrat;letter-spacing: 0px;color: #798F92;opacity: 1;">Nosso suporte por e-mail funciona em horário comercial, em dias úteis (segunda-feira à sexta-feira entre 9h e 18h).</p>
<form class="formulario">
    <h4>Ajuda e contato</h4>
    <label for="nome" class="form-label"> Nome do solicitante *</label>
    <input type="text" class="form-control" id="nome" >
    <label for="Email" class="form-label"> Email do solicitante *</label>
    <input type="email" class="form-control" id="Email" >
    <label for="titulo" class="form-label">Título do ticke *</label>
    <input type="text" class="form-control" id="titulo" aria-describedby="titulolHelp">
    <div id="tituloHelp" class="form-text">(motivo do contacto)</div>
  
    <h6 style="margin-top:10px">Escreva sua solicitação *</h6>
    <textarea style="width: 100%; height: 150px; " class="form-control" ></textarea>
    <button class="btn btn-secondary" style="margin-top: 10px;">Enviar</button>
</form>