.card-sms{
    width: 425px;
    /* height: 649px; */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
margin-left: auto;
/* margin-right: auto; */
}
.barra-progreso{
    width: 425px; height: 8px;background: #FFFFFF; margin-left: auto;margin-right: auto;
}
.barra-estado{
    width: 25%; height: 8px;background: #3DFF91; 
}
.text-claro{
    font: normal normal normal 15px/30px Montserrat;
    letter-spacing: 0px;
    color: #003940;
}
.text-azul{
    font: normal normal bold 20px/30px Montserrat;
letter-spacing: 0px;
color: #00808F;
}
.text-span{
    font: normal normal normal 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #003940;
}
.text-pag{
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #003940;
    opacity: 1;
    margin-left: 30px;
/* margin-left: 55px; */
margin-top: 13px;

}
.text-neg{
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #003940;
    opacity: 1;
   
/* margin-left: 55px; */
margin-top: 13px;

}
.boton-solicitar{
    width: 309px;
height: 64px;
background: var(--unnamed-color-3dff91) 0% 0% no-repeat padding-box;
background: #3DFF91 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-left: 15px;
margin-bottom: 20px;
}
.my-label{
    text-align: left;
    font: normal normal normal 15px/16px Montserrat;
    letter-spacing: 0px;
    color: #003940;
}
.form-control{
    text-align: center;
    height: 56px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #003940;
border-radius: 5px;
color: #003940;
opacity: 1;
font: normal normal bold 27px/33px Montserrat;
}
.text-msg{
    text-align: left;
    font: normal normal normal 33px/45px Open Sans;
    letter-spacing: 0px;
    color: #003940;
}
.boton-verde{
    width: 388px;
height: 64px;
background: #3DFF91 0% 0% no-repeat padding-box;
border-radius: 10px;
border: #3DFF91;
font: normal normal bold 20px/24px Montserrat;
letter-spacing: 0px;
color: #003940;
opacity: 1;
}
.boton-light{
    width: 302px;
height: 64px;
background: #ECF3F3 0% 0% no-repeat padding-box;
border-radius: 32px;
border: #ECF3F3;
font: normal normal bold 13px/16px Montserrat;
letter-spacing: 0px;
color: #003940;
opacity: 1;
}
.boton-voltar{
    width: 425px;
height: 64px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
border: #FFFFFF;
font: normal normal bold 20px/24px Montserrat;
letter-spacing: 0px;
color: #003940;
opacity: 1;
}
.my-range{
    
    /* border-radius: 50px; */
    width: 360px;
    background: #003940 0% 0% no-repeat padding-box;
    border-color: #003940;
    opacity: 1;
}
.tipo-pagamento{
    width: 309px;
height: 72px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #ECF3F3;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
opacity: 1;
}