<nav class="navbar navbar-expand-lg   " style="background-color: #ECF3F3; background: #ECF3F3 0% 0% no-repeat padding-box;">
    <button [routerLink]="['xxx']">ok</button>
    <div class="container-fluid">
        <!-- <img src="assets/logo.svg" alt=""> -->
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            style="border:0 ;">
            <span> <img src="assets/icon-hamburger.svg" alt=""></span>
        </button>
        <h3 style="margin-left: 80px;">Livre.</h3>trade
        <div class="collapse navbar-collapse row  " id="navbarNavAltMarkup">
            <span class="col-lg-1"></span>
           
            <!-- <div class="navbar-nav col-lg-4 text-light">
                <a class="nav-link ttext-black" aria-current="page" [routerLink]="['']">Home</a>
                <a class="nav-link ttext-black" [routerLink]="['formulario']">Perfil</a>
                <a class="nav-link ttext-black" [routerLink]="['vista']">Vista</a>
                <a class="nav-link ttext-black" href="#">Blog</a>
                <a class="nav-link ttext-black" href="#" >Careers</a>
            </div> -->
           <!--********  -->
           <!-- <div class="col" style="display: flex;">
               
            <div *ngIf="!userLog" style="margin-left: auto;display: flex;">
                <button style="margin-right: 10px;" class=" btn btn-outline-light collapse navbar-collapse " type="submit" [routerLink]="['login']" (click)="login()">Login</button>
                <button class=" btn btn-warning collapse navbar-collapse " type="submit" [routerLink]="['register']" >Register</button>
            </div>
           <div *ngIf="userLog" style="margin-left: auto; display: flex;">
            <p class="text-white" style="margin-bottom: auto;margin-right:10px; margin-top: auto;">Bienvenido {{userLog}}</p>
            <button class=" btn btn-outline-light collapse navbar-collapse " type="submit" [routerLink]="['']" (click)="logout()">Logout</button>

           </div>
            
        </div> -->

            <!-- ********** -->
        </div>
        <div class="col" style="display: flex;">
               
            <div *ngIf="!userLog" style="margin-left: auto;display: flex;">
                <button style="margin-right: 10px;" class=" btn btn-outline-success  " type="submit" [routerLink]="['login']" (click)="login()">Login</button>
                <button class=" btn btn-success  " type="submit" [routerLink]="['register']" >Register</button>
            </div>
           <div *ngIf="userLog" style="margin-left: auto; display: flex;">
            <!-- <p class="ttext-white" style="margin-bottom: auto;margin-right:10px; margin-top: auto;">Bienvenido {{userLog}}</p> -->
            <button class=" btn btn-outline-success  " type="submit" [routerLink]="['']" (click)="logout()">SAIR</button>
          
           </div>
            
        </div>

    </div>

</nav>


