<label class="info letra">Selecione qual tipo de atendimento deseja</label>
<div style="display: flex; margin-left: 55px;">
<div class="opcion-atendimento">
    <div style=" display: flex; justify-content: center;margin-top: 68px;" class="container">
        <div >
            <img src="assets\Grupo 1661.png" alt="">
        </div>
       
    </div>
    <div style="margin-top:20px ;"  class="letra info-opcion">
        <p class="text-center " >Atendimento por E-mail</p>
     </div>
</div>
<div class="opcion-atendimento">
    <div style=" display: flex; justify-content: center;margin-top: 68px;" class="container">
        <div >
            <img src="assets\whatsapp.png" alt="">
        </div>
       
    </div>
    <div style="margin-top:20px ;" class="letra info-opcion">
        <p class="  text-center" >Atendimento WhatsApp</p>
     </div>
</div>
</div>