<div class="container">
    <div class="row" style="margin-top: 10px;" >
        <div class="col-lg-3" style="margin-top: 30px;">
            
            <div  class="icon-menu" (click)="funcion1(1)">
                <img src="assets\transaccion.png" alt="" style="margin-left: 10px; margin-right: 20px;" class="icon-opcion">
                <p [ngStyle]="transaccionStyle">Transações</p>
               
            </div>
            <hr>
            <div class="icon-menu" (click)="funcion1(2)">
                <img src="assets\micuenta.png" alt="" style="margin-left: 10px; margin-right: 20px;" class="icon-opcion">
                <p [ngStyle]="minhacontaStyle">Minha conta</p>
            </div>
            <hr>
            <div class="icon-menu" (click)="funcion1(3)">
                <img src="assets\atendimento.png" alt="" style="margin-left: 10px; margin-right: 20px;" class="icon-opcion">
                <p [ngStyle]="atentendimentoStyle">Atendimento </p>
            </div>
            <hr>
           
        </div>
        
        <div class="col-lg-9" style=" border-left: 1px solid #9CB2B5; height: 1020px " >
         
            <div style="display: flex;">
                <button (click)="voltar()" class="boton-voltar"
                style="margin-left: 12px; margin-right: 20px;margin-bottom: 20px;text-align: left;">
                <img src="assets/voltar.png"> <strong style="margin-left: 20px;"> VOLTAR</strong> 
            </button>
            <div style="margin-left: auto; margin-right: 20px;">
                <img src={{logo_Operacion}}>
                <label class="opcion" style="margin-left: 10px;">{{Operacion}}</label>
            </div>
            </div>
            <hr>
            <!-- vistas dinamicas -->
            <app-transacciones *ngIf="bt == 1"></app-transacciones>
            <app-mina-conta *ngIf="bt == 2"></app-mina-conta>
            <app-atendimento *ngIf="bt == 3"></app-atendimento>
            <app-beneficiarios *ngIf="bt == 4"></app-beneficiarios>
            <app-atendimento-email *ngIf="bt == 5"></app-atendimento-email>
            <app-atendimento-whatsapp *ngIf="bt == 6"></app-atendimento-whatsapp>
            <app-senha *ngIf="bt == 7"></app-senha>
            <app-validar-conta *ngIf="bt == 8"></app-validar-conta>
            <app-dados-pessoais *ngIf="bt == 9"></app-dados-pessoais>
            <app-add-beneficiario *ngIf="bt == 10"></app-add-beneficiario>
        </div>

       
    </div>

</div>