<div style="background: #F9FCFC 0% 0% no-repeat padding-box;opacity: 1; max-height: 100%">
    <div style="height: 30px;"></div>
    <div class="panel-rsenha centro">
        <div style="height: 40px;"></div>
        <div style="display: flex;width: fit-content; " class="centro">
            <div><img src="assets/dados_pessoais1.png" style="width: 35px;height: 35px;  ">
            </div>
            <div>
                <p style="margin-top: auto; text-align: left; margin-left: 10px;font: normal normal bold 21px/42px Montserrat;letter-spacing: 0px;
                    color: #003940;">Recuperação de Senha</p>
            </div>

        </div>

        <div class="centro " style="margin-top: 30px;max-width: 312px; width: fit-content;">

            <p class="text-negro">Uma boa senha deve ter pelo menos 8 caracteres (letras, números e, se possível,
                caracteres especiais).</p>

        </div>


        <div class="centro" style="max-width: 312px; width: fit-content; margin-top: 45px;">

            <label class=" " for="user-fild" style="font: normal normal medium 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #003940;">Digite sua nova senha</label>
            <div>
                <input class="form-control campo text-center" type="text" name="user-fild">
                
            </div>

            <label class="text-input " for="user-fild" style="margin-top: 20px; ">Confirme sua nova senha</label>
            <div>
                <input class="form-control campo text-center" type="text" name="user-fild">
               
            </div>

           
        </div>

        <div class="centro" style="margin-top: 40px; width: 377px;">
            <button class="boton-verde-azul btn">
                <div style="display: flex;">
                    <div style="margin-top: auto; margin-left: 30px;font: normal normal bold 16px/17px Montserrat;">
                        ALTERAR SENHA</div>
                    <div style="margin-left: auto;margin-right: 30px; "><img src="assets/Caminho-left.png"></div>
                </div>
            </button>
        </div>
    </div> <!-- fin panel -->

    <div style="height: 250px;">

    </div>
</div>