.panel-rsenha {
    width: 464px;
    height: 579px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.centro {
    margin-left: auto;
    margin-right: auto;
}
.campo {
    width: 312px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #9CB2B5;
    border-radius: 5px;
}
.text-imp{
    /* text-align: left; */
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #003940;
    opacity: 1;
}
.boton-verde-azul{
    width: 377px;
height: 68px;
background: transparent linear-gradient(90deg, #85FFBB 0%, #5AFF7C 50%, #39FFE4 100%) 0% 0% no-repeat padding-box;
border-radius: 34px;
border: transparent;
opacity: 1;
}
.text-negro{
    text-align: center;
    font: normal normal bold 16px/25px Montserrat;
    letter-spacing: 0px;
    color: #003940;
}
.text-input{
    text-align: left;
font: normal normal normal 14px/32px Montserrat;
letter-spacing: 0px;
color: #003940;
opacity: 1;
}